/*Celphones Small*/
@media (max-width: 320px) and (max-width:538px) {
    .alert{
        letter-spacing: 0px;
        bottom: 1%;
        font-size: calc(1rem + .3vw)!important;
    }

    .alert svg{
        height: 3.5rem;
        
    }

    .under{
        bottom: 18% !important;
    }

    .lottie{
        width: 100% !important;
        height: 100% !important;
    }
    #r2{
        margin-left: 0rem !important;
    }
}
/*Celphones medium*/
@media (max-width: 539px) {
    .alert{
        left: 5%;
        bottom: 2%;
    }

    .alert svg{
        height: 3rem;
        
    }

    .under{
        bottom: 25%;
    }

    .lottie{
        width: 100% !important;
        height: 100% !important;
    }
    #r2{
        margin-left: 0rem !important;
    }
}


/*Modern Celphones*/

@media (min-width: 540px) and (max-width:767px) {
    .alert{
        left: 7%;
        right: 5%;
    }
    .under{
        bottom: 21%;
    }
    .lottie{
        width: 80%  !important;
        height: 80%  !important;
    }
}


/*Tablet*/

@media (min-width: 768px) and (max-width:991px) {
    .alert{
        left: 7%;
        right: 5%;
    }
    .under{
        bottom: 29%;
    }
    .lottie{
        width: 70% !important;
        height: 70% !important;
    }
}


/*Laptop*/

@media (min-width: 992px) and (max-width:1199px) {
    .alert{
        left: 14%;
    }

    .under{
        bottom: 14%;
    }
    .lottie{
        width: 50% !important;
        height: 50% !important;
    }
}


/*XL*/

@media (min-width: 1200px) and (max-width:2559px){
    .alert{
        left: 27%;
    }

    .under{
        bottom: 25%;
    }
    .lottie{
        width: 45% !important;
        height: 45% !important;
    }
}

/*XXL*/

@media (min-width: 2560px) {
    .alert{
        left: 35%;
    }

    .under{
        bottom: 25%;
    }
    .lottie{
        width: 35% !important;
        height: 35% !important;
    }
}