* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    cursor: url("../IMGS/cursor-centrex.png"), auto;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

h1 {
    font-family: Montserrat;
    font-size: 32px;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    font-weight: bold
}

#titulo-trabajo {
    padding-bottom: 0% !important;
}

#titulo-servicios {
    background-color: #e9e9e9;
}

#titulo-clientes {
    background-color: #727272;
    color: white;
}

#titulo-contacto {
    background-color: #f8f9fa;
}

a {
    cursor: url("../IMGS/mano-centrex.png"), auto;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/* PERMITE HACER UN SCROLL SUAVE*/

html {
    scroll-behavior: smooth;
}


/* ESTILOS PARA LA BARRA DE NAVEGACIÓN */

nav {
    background: #5e9cea;
    height: 70px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    font-family: 'Montserrat', sans-serif;
}

nav ul li a {
    color: white;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,
a:hover {
    background: #000000;
    transition: .5s;
}

.checkbtn {
    font-size: 20px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#logo {
    padding-left: 50px;
}

#label.logo {
    padding-top: 15px;
}

#img-logo {
    padding-top: 15px;
}

@media (max-width: 952px) {
    label.logo {
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #383838;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #ff0000;
    }
    #check:checked~ul {
        left: 0;
    }
}

section {
    height: calc(100vh - 80px);
}


/* ESTILOS PARA EL PIE DE PÁGINA 1 (GENERAL)*/

#footer1 {
    background-color: #000000;
    display: flex;
    flex-direction: nowrap;
    justify-content: center;
    font-family: roboto;
    font-size: 17px;
    color: white;
    padding: 30px;
}

#footer-box1 {
    border-width: 15px;
    padding: 50px;
    width: calc(100%/2);
}

#footer-box2 {
    border-width: 15px;
    border-right: 1px solid rgb(252, 252, 252);
    padding: 50px;
    width: calc(100%/2);
    text-align: center;
    color: white;
}

#footer-box2 a {
    color: white;
}

#footer-box2 img {
    width: 120px;
    margin-top: 15px;
}

#footer-box3 {
    padding: 50px;
    width: calc(100%/3);
}

#footer-box3 a {
    color: rgb(255, 255, 255) !important;
}

#footer-box3 a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

#footer-box3 a:active {
    background-color: rgb(0, 0, 0, 0) !important;
}

#footer-box3 i {
    font-size: xx-large;
    padding: 15px;
}


/* ESTILO RESPONSIVE PARA EL FOOTER 1 */

@media (max-width: 768px) {
    #footer1 {
        display: flex;
        flex-direction: Column;
        justify-content: center;
        flex-basis: auto;
        flex-grow: 1;
    }
    #footer-box1 {
        padding: 50px;
        width: auto;
    }
    #footer-box2 {
        padding: 50px;
        width: auto;
        border-width: 15px;
        border-right: 1px solid rgba(255, 255, 255, 0) !important;
    }
    #footer-box3 {
        border-width: 15px;
        border-top: 1px solid rgb(252, 252, 252);
        padding: 50px;
        width: auto;
    }
}


/* ESTILOS PARA EL PIE DE PÁGINA 2*/

#footer2 {
    background-color: #5e9cea;
    height: 100px;
    display: flex;
    flex-direction: nowrap;
    justify-content: center;
    font-family: roboto;
    font-size: 17px;
    color: white;
    border-width: 15px;
    border-top: 1px solid rgb(252, 252, 252);
}

#footer2 label {
    height: 60px;
    min-height: 60px;
    margin-bottom: 60px;
}


/* ESTILO PARA BOTONES WEB EXPERTS */

.btn-we {
    font-family: montserrat;
    font-size: 18px;
    background-color: #000000;
    border-color: rgba(255, 255, 255, 0);
    color: aliceblue;
    width: 140px;
    height: 40px;
}

.btn-we:hover {
    font-family: montserrat;
    font-size: 18px;
    background-color: #424242;
    border-style: ridge;
    color: rgb(255, 255, 255);
    width: 140px;
    height: 40px;
}

.btn-we:active {
    font-family: montserrat;
    font-size: 18px;
    background-color: #5e9cea;
    border-style: ridge;
    color: rgb(0, 0, 0);
    width: 140px;
    height: 40px;
}


/* ESTILO PARA LAS BARRAS DE TÍTULO */

.barra-titulo {
    float: calc(100%/2);
    text-align: center;
    justify-content: center;
    background-image: url(../IMGS/background-titulo.png);
    background-position: 0%;
    background-size: cover;
    display: flexbox;
    flex-wrap: center;
    justify-content: center;
    height: 95px;
    color: white;
    text-shadow: 4px 4px #c40505;
}

.barra-titulo h1 {
    margin-top: 10px;
}

.none {
    height: 20px;
    height: 20px;
}


/* INICIAN ESTILOS DEL MAIN */

.acercade {
    display: flex;
    flex-direction: nowrap;
    width: 100%;
    padding-top: 7%;
    margin-bottom: 7%;
}

.acercade h2,
h4 {
    font-family: Montserrat;
}

.acercade p {
    font-family: Roboto;
}

#btn-servicios {
    color: #000000;
    background-color: #ffffff00;
    text-decoration: none;
}

#imagen-we {
    background-image: url(../IMGS/imagen-we-acercade.jpg);
    background-position: center;
    background-size: cover;
    width: 45%;
    margin-right: 2%;
}

#contenido-we {
    width: 55%;
    padding: 7%;
}

#contenido-we button {
    border-width: 1px;
    font-family: montserrat;
    font-size: 15px;
    font-weight: 700;
    border-color: #000000;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    padding: 7px;
    border-radius: 7px;
    border-width: 2px;
}

#contenido-we button:hover {
    border-width: 1px;
    font-family: montserrat;
    font-size: 15px;
    font-weight: 700;
    border-color: #000000;
    color: rgb(0, 0, 0);
    background-color: #e9e9e9;
    padding: 7px;
    border-radius: 7px;
    border-width: 2px;
}

.servicios {
    background-color: #e9e9e9;
    display: flex;
    flex-direction: nowrap;
    width: 100%;
}

#servicios-a {
    width: 25%;
    padding: 25px;
    text-align: center;
    padding-top: 35px;
}

#servicios-a i {
    font-size: 45px;
    margin-bottom: 7%;
}

.equipotrabajo-a {
    display: flex;
    flex-direction: wrap;
    width: 100%;
    text-align: center;
    height: 475px;
}

.equipotrabajo-b {
    display: flex;
    flex-direction: wrap;
    width: 100%;
    text-align: center;
    height: auto;
}

.contenido-et {
    width: 50%;
    padding: 7%;
    align-content: center;
    text-align: center;
    justify-content: center;
}

#equipo-a {
    background-image: url(../IMGS/equipo-trabajo1.jpg);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-left: 20%;
}

#equipo-b {
    background-image: url(../IMGS/equipo-trabajo2.jpg);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-left: 20%;
}

#equipo-c {
    background-image: url(../IMGS/equipo-trabajo3.jpg);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-left: 20%;
}

#equipo-d {
    background-image: url(../IMGS/equipo-trabajo4.jpg);
    border-radius: 100%;
    width: 300px;
    height: 300px;
    margin-left: 20%;
}

.clientes-a {
    display: flex;
    flex-direction: nowrap;
    background-color: #727272;
    text-align: center;
    justify-content: center;
    padding: 2%;
    height: min-content;
}

.clientes-b {
    display: flex;
    flex-direction: nowrap;
    background-color: #727272;
    text-align: center;
    justify-content: center;
    padding: 2%;
    padding-bottom: 7%;
    height: min-content;
}

.contactowe {
    display: flex;
    flex-direction: nowrap;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    justify-content: center;
    height: auto;
}

#formulario-contacto {
    width: 50%;
}

#formulario-contacto form div {
    margin-top: 2%;
}

#map-contacto {
    width: 50%;
    text-align: center;
    justify-content: center;
}